.checkbox {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  display: flex;

  label {
    position: relative;
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    padding-left: 40px;
    color: #afafaf;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      transition: transform 0.28s ease;
      border: 2px solid #9c9c9c;
    }

    &:after {
      content: "";
      display: flex;
      width: 10px;
      height: 5px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      will-change: transform;
      position: absolute;
      top: 7px;
      left: 6px;
    }

    span {
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
    }
  }

  input[type="checkbox"] {
    width: auto;
    opacity: 0.1;
    position: absolute;
    left: 0;
    margin-left: -20px;

    &:checked ~ label::after {
      -webkit-transform: rotate(-45deg) scale(1);
      transform: rotate(-45deg) scale(1);
    }

    &:checked ~ label::before {
      background-color: #76b900;
      border-color: #76b900;
    }

    &:focus + label::before {
      outline: 0;
    }
  }
}
