.checkbox {
  width: 100%;
  margin: 0 auto 15px;
  position: relative;
  display: block;
}

.checkbox input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox label {
  position: relative;
}

.checkbox label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 18px;
  height: 18px;
  transition: transform 0.28s ease;
  // border-radius: 3px;
  border: 2px solid #9c9c9c;
}

.checkbox label:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 10px;
  left: 9px;
}

.checkbox input[type="checkbox"]:checked ~ label::before {
  background-color: #76b900;
  border-color: #76b900;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox label {
  min-height: 34px;
  display: block;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
}

.checkbox label span {
  position: absolute;
  margin-left: 0;
  margin-top: 6px;
  font-size: 12px;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: 0;
}
