.footer {
  &__container {
    display: flex;
    padding: 24px 120px;
    box-sizing: border-box;
    justify-content: space-between;

    .footer__nav-bar {
      display: flex;
      align-items: flex-start;

      .footer__nav {
        padding: 0;
        list-style: none;
        margin: 0;
        margin-right: 60px;

        li {
          a {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.38;
            letter-spacing: normal;
            display: flex;
            text-decoration: none;
            color: #1e1e1e;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              opacity: 0;
              width: 0;
            }

            &:hover {
              &:after {
                opacity: 1;
                transition: 300ms;
                width: 100%;
                height: 2px;
                background: #000;
              }
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .footer__right {
      display: flex;

      .footer__social-media {
        margin-right: 99px;
        
        a {
          padding: 5px;
          box-sizing: border-box;
        }
      }
    }

    h4 {
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #1e1e1e;
      margin: 0 0 16px 0;
    }
  }

  &__bottom {
    box-sizing: border-box;
    padding: 0 120px;
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;

    p {
      color: #fff;
      font-size: 12px;
      line-height: 1.83;
    }

    &--left {
      display: flex;
      align-items: center;

      a {
        font-weight: 600;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.83;
        letter-spacing: normal;
        color: #fff;
        text-decoration: none;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
