.accordion {
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  box-sizing: border-box;
  padding: 40px 30px 30px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-size: 24px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #afafaf;
      margin: 0;
    }

    .accordion__icon {
      transition: transform 0.6s ease;
      
      &.rotate {
        transform: rotate(180deg);
        transition: transform 0.6s ease;
      }
    }
  }

  &__content {
    
    overflow: hidden;
    padding-top: 30px;

    &-text {
      color: #afafaf;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
    }

  }
}
